*{
    margin: 0;
    padding: 0;
    font-family: 'Dela Gothic One', cursive;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 150, 21);
    width: 100%;
}

.nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nav li{
    padding: 5px;
    list-style-type: none;
    font-size: 25px;
   
}
.nav li a{
    text-decoration: none;
}


.card{
 
    width:30%;
    background-color: white;
    margin:6rem auto;
    display: flex;
    flex-direction: column;
     text-align: center;
}
.email input,.password input{
width: 80%;
padding:15px;
margin-top: 25px;
background-color: rgb(242, 242, 242);
border-style: none;
color: rgb(151, 109, 109);
}
.password i{
    margin-left: -30px; 
    cursor: pointer;
}
.password input{
    margin-right: 8px;
}
.card button{
    width: 80%;
    align-self: center;
    padding:15px;
    margin-top: 25px;
    background-color: rgb(255, 150, 21);
    border-style: none;
}
.text{
    margin:25px 0 ;
}
.text a{
    color: rgb(255, 150, 21);
}

.nav li a:hover,.text a:hover{
     color: green;
}