*{
    margin: 0;
    padding: 0;
    font-family: 'Dela Gothic One', cursive;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 150, 21);
    width: 100%;
}

.nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nav li{
    padding: 5px;
    list-style-type: none;
    font-size: 25px;
}
.nav li a{
    text-decoration: none;
}


.card{
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin:4rem  auto;
    text-align: center;
    color: rgb(117, 117, 117);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.email input,.password input{
width: 80%;
padding:15px;
background-color: rgb(242, 242, 242);
border-style: none;

}
.email input{
    margin-top:50px ;
}
.password input{
    margin-top: 25px;
}
.password i{
    margin-left: -35px; 
    cursor: pointer;
}
.password {
    transform: translateX(-6px);
}

.helper-text{
    width: 80%;
font-size: 10px;
display: flex;
flex-direction: column;
margin: 25px 0 0 60px;
}
.helper-text li{
  list-style: none;
  text-align: left;

}
.card button{
    width: 80%;
    align-self: center;
    padding:15px;
    margin-top: 25px;
    background-color: rgb(255, 150, 21);
    border-style: none;
}
.text{
    margin: 25px 0 50px 0;
    width: 80%;
    align-self: center;
}
.text a{
    color: rgb(255, 150, 21);
}
.nav li a:hover,.text a:hover{
    color: green;
}


@media screen and (max-width:900px){
    
    .card{
        width:60%; 
    }

}