*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}
p{
    text-align: center;
    margin-top: 10rem;
    font-size: 40px;
    text-transform: uppercase;
    color: orange;
    font-weight: bolder;
    
}